@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');

body {
    background-color: #F6F6F6;
}

/* btn */
.btn.has-icon svg,
.dropdown-item.has-icon svg {
	margin-right: 15px;
	font-size: 20px;
	float: left;
	margin-top: 1px;
}
.btn.has-icon svg {
	margin-top: 3px;
	margin-right: 10px;
}
.btn.has-icon-nofloat {
	display: table;
	text-align: right;
}
.btn.has-icon-nofloat svg {
	float: none;
	margin: 0;
	display: table-cell;
	vertical-align: middle;
	width: 30%;
}
.btn.has-icon-nofloat div {
	display: table-cell;
	vertical-align: middle;
	width: 70%;
	text-align: left;
	padding-left: 10px;
}
.btn {
	font-size: 14px;
	line-height: 24px;
	padding: 10px 23px;
	letter-spacing: .4px;
}
.btn:active,
.btn:focus,
.btn:hover {
	border-color: transparent !important;
}
.btn.btn-shadow {
	-webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .13);
	        box-shadow: 0 10px 20px rgba(0, 0, 0, .13);
}
.btn > svg {
	margin-left: 0 !important;
}
.btn.btn-lg {
    padding: .6rem 1.1rem;
    font-size: 18px;
}
.btn.btn-sm {
	padding: .25rem .7rem;
	font-size: .875rem;
}
.btn.btn-icon .ion,
.btn.btn-icon .fas,
.btn.btn-icon .far,
.btn.btn-icon .fab,
.btn.btn-icon .fal {
	margin-left: 0 !important;
	font-size: 14px;
}
.btn-action {
	color: #fff !important;
	font-size: 12px;
	padding: 5px 10px;
}
.btn-warning {
	color: #fff;
}
.btn-primary {
	background-color: #574B90;
}
.btn-primary:focus,
.btn-primary:focus:active,
.btn-primary:active,
.btn-primary:hover {
	background-color: #4b3f82 !important;
}
.btn-round {
	border-radius: 30px;
	padding-left: 34px;
	padding-right: 34px;
}
/* end btn */

/*helper*/
.bg-primary {
	background-color: #574B90 !important;
}
.text-primary {
	color: #574B90 !important;
}
.form-divider {
	display: inline-block;
	width: 100%;
	margin: 10px 0;
	font-size: 16px;
	font-weight: 600;
}
.sort-handler {
	cursor: move;
}
.text-job {
	text-transform: uppercase;
	font-size: 10px;
	letter-spacing: 1px;
	font-weight: 500;
	color: #868e96;
}
.text-time {
	font-size: 12px;
	color: #666;
	font-weight: 500;
	margin-bottom: 10px;
}
.bullet, .slash {
	display: inline;
	margin: 0 4px;
}
.bullet:after {
	content: '\2022';
}
.slash:after {
	content: '/';
}
/*end helper*/

/* navbar */
.navbar {
	height: 70px;
	left: 250px;
	right: 5px;
	position: absolute;
	z-index: 890;
	background-color: transparent;
}
.navbar.active {
	background-color: #574B90;
}
.navbar-bg {
	content: ' ';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 115px;
	background-color: #574B90;
	z-index: -1;
}
.navbar .form-inline .form-control {
	border-radius: 30px 0 0 30px;
	border-color: transparent;
	padding-left: 20px;
	padding-right: 0;
	margin-right: -6px;
	width: 220px;
	min-height: 46px;
}
.navbar .form-inline .btn {
	border-radius: 0 30px 30px 0;
	background-color: #fff;
	padding: 9px 15px 9px 15px;
	border-color: transparent;
}
.navbar .nav-link {
	color: #fff;
	padding-left: 10px !important;
	padding-right: 10px !important;
}
.navbar .nav-link.beep {
	position: relative;
}
.navbar .nav-link.beep:after {
	content: '';
	position: absolute;
	top: 2px;
	right: 8px;
	width: 7px;
	height: 7px;
	background-color: #dc3545;
	border-radius: 50%;
}
.navbar .nav-link.nav-link-lg {
	line-height: 16px;
}
.navbar .nav-link.nav-link-lg div {
	margin-top: 3px;
}
.navbar .nav-link.nav-link-lg svg {
	font-size: 24px;
	margin-top: -2px;
}
.remove-caret:after {
	display: none;
}
.navbar .nav-link:hover {
	color: #fff;
	opacity: .8;
}
.navbar .nav-link.disabled {
	color: #fff;
	opacity: .6;
}
/* end navbar */

/* layout */
.main-sidebar {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 250px;
	z-index: 880;
	background-color: #fff;
	-webkit-box-shadow: 0 0 40px rgba(0, 0, 0, .05);
	        box-shadow: 0 0 40px rgba(0, 0, 0, .05);
}
body.sidebar-gone .main-sidebar {
	left: -250px;
}
body.sidebar-gone .navbar {
	left: 0;
}
body.sidebar-gone .main-content {
	padding-left: 30px;
}
.main-sidebar .sidebar-brand {
	display: inline-block;
	width: 100%;
	text-align: center;
	height: 60px;
	line-height: 60px;
}
.main-sidebar .sidebar-brand a {
	text-decoration: none;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	font-family: 'Montserrat';
	font-weight: 700;
	color: #000;
}
.main-sidebar .sidebar-user {
	display: inline-block;
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
}
.main-sidebar .sidebar-user .sidebar-user-picture {
	float: left;
	margin-right: 10px;
}
.main-sidebar .sidebar-user .sidebar-user-picture img {
	width: 50px;
	border-radius: 50%;
}
.main-sidebar .sidebar-user .sidebar-user-details .user-name {
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	   text-overflow: ellipsis;
	overflow: hidden;
	margin-top: 7px;
	margin-bottom: 3px;
	font-weight: 600;
	color: #505c66;
}
.main-sidebar .sidebar-user .sidebar-user-details .user-role {
	font-size: 12px;
	font-weight: 400;
	letter-spacing: .3;
	color: #868e96;
	font-family: 'Montserrat';
	font-size: 10px;
	letter-spacing: .5px;
}
.main-sidebar .sidebar-menu {
	padding: 0;
	margin: 0;
}
.main-sidebar .sidebar-menu li {
	display: block;
}
.main-sidebar .sidebar-menu li.menu-header {
	padding: 7px 15px;
	color: #cbcbcb;
	font-family: 'Montserrat';
	font-size: 10px;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	font-weight: 600;
}
.main-sidebar .sidebar-menu li a {
	display: inline-block;
	width: 100%;
	padding: 15px 25px;
	color: #868e96;
	font-weight: 500;
	text-decoration: none;
}
.main-sidebar .sidebar-menu li a .badge {
	float: right;
	padding: 5px 10px;
	margin-top: 2px;
}
.main-sidebar .sidebar-menu li a svg {
	width: 20px;
	margin-right: 25px;
	font-size: 20px;
	text-align: center;
	float: left;
}
.main-sidebar .sidebar-menu li a:hover {
	background-color: #F6F6F6;
}
.main-sidebar .sidebar-menu li.active a {
	background-color: #f9f9f9;
	color: #574B90;
	font-weight: 600;
}
.main-sidebar .sidebar-menu li a.has-dropdown:after {
	content: '\f123';
	font-family: 'Ionicons';
	float: right;
	font-size: 12px;
	margin-top: 3px;
}
.main-sidebar .sidebar-menu li.active ul.menu-dropdown {
	display: block;
}
.main-sidebar .sidebar-menu li ul.menu-dropdown {
	padding: 0;
	margin: 0;
	display: none;
}
.main-sidebar .sidebar-menu li ul.menu-dropdown li a {
	padding-top: 8px;
	padding-bottom: 8px;
	font-size: .8rem;
	color: #505c66;
	font-weight: 400;
}
.main-sidebar .sidebar-menu li ul.menu-dropdown li a:hover {
	color: #574B90;
}
.main-sidebar .sidebar-menu li ul.menu-dropdown li.active a {
	color: #574B90;
	font-weight: 600;
}
.main-sidebar .sidebar-menu li ul.menu-dropdown li a i {
	font-size: 16px;
	margin-top: 1px;
	text-align: center;
}
.main-sidebar .sidebar-menu li ul.menu-dropdown li ul.menu-dropdown {
	padding-left: 10px;
}
.main-content {
	padding-left: 280px;
	padding-right: 30px;
	padding-top: 80px;
	width: 100%;
	position: relative;
}
.main-footer {
    font-family: 'Montserrat';
    /* position: absolute;
    bottom: 0;
    width: 100%; */
	padding: 20px 30px 20px 280px;
	font-size: 10px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-top: 40px;
	background-color: #fff;
	color: #999;
}
/* end layout */

/*section*/
.section {
	position: relative;
	z-index: 1;
}
.section .section-header {
	background-color: #fff;
	-webkit-box-shadow: 0 0 40px rgba(0,0,0,.05);
	        box-shadow: 0 0 40px rgba(0,0,0,.05);
	border-radius: 3px;
	padding: 20px;
	margin: -7px 0 20px 0;
	display: inline-block;
	width: 100%;
	font-family: 'Montserrat';
	font-weight: 700;
	margin-bottom: 20px;
}
.section .section-header div {
	display: inline-block;
	font-size: 24px;
	margin-top: 3px;
	float: left;
}
.section .section-header .float-right {
	margin-top: 0;
}
.section .section-header .btn {
	font-size: 12px;
}
.section .section-header + .section-body .section-title:first-child {
	margin-top: 0;
}
.section .section-title {
	font-size: 16px;
	color: #868e96;
	font-weight: 500;
	margin: 30px 0 15px 0;
}
/*end section*/

/*card*/
.card {
	-webkit-box-shadow: 0 0 40px rgba(0,0,0,.05);
	        box-shadow: 0 0 40px rgba(0,0,0,.05);
	background-color: #fff;
	border-radius: 3px;
	border: none;
	position: relative;
	margin-bottom: 30px;
}
.card.card-progress:after {
	content: ' ';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,.5);
	background-image: url('/img/spinner.svg');
	background-size: 30px;
	background-repeat: no-repeat;
	background-position: center;
	z-index: 1;
}
.card.card-progress .card-progress-dismiss {
	position: absolute;
	top: 65%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	z-index: 2;
	color: #fff !important;
	padding: 5px 13px;
}
.card.card-primary {
	border-top: 2px solid #574B90;
}
.card.card-secondary {
	border-top: 2px solid #868e96;
}
.card.card-success {
	border-top: 2px solid #28a745;
}
.card.card-danger {
	border-top: 2px solid #dc3545;
}
.card.card-warning {
	border-top: 2px solid #ffc107;
}
.card.card-info {
	border-top: 2px solid #17a2b8;
}
.card.card-dark {
	border-top: 2px solid #343a40;
}
.card .card-header,
.card .card-footer,
.card .card-body {
	background-color: transparent;
}
.card .card-body {
	padding-top: 20px;
	padding-bottom: 20px;
}
.card .card-footer.card-footer-grey {
	background-color: #fbfbfb;
}
.card .card-header {
	border-bottom-color: #f9f9f9;
	line-height: 30px;
	-ms-flex-item-align: center;
	    -ms-grid-row-align: center;
	    align-self: center;
	width: 100%;
}
.card .card-header .btn {
	padding: 2px 15px;
	font-size: 12px;
	border-radius: 30px;
}
.card .card-header .form-control {
	height: 30px;
	font-size: 12px;
}
.card .card-header .form-control + .input-group-btn .btn {
	border-radius: 0 3px 3px 0;
	margin-top: -3px;
}
.card .card-header .float-right .btn-group .btn {
	border-radius: 30px !important;
	padding-left: 13px !important;
	padding-right: 13px !important;
}
.card .card-header h4 {
	font-size: 10px;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin: 2px 0 -2px 0;
	font-family: 'Montserrat';
	line-height: 30px;
}
.card .card-header h4 a.unstyled {
	font-size: 14px;
}
.card .card-footer {
	background-color: transparent;
	border: none;
	padding-top: 0;
}
.card-icon svg {
    fill: #fff;
}
.card.card-lg .card-header,
.card.card-sm .card-header,
.card.card-sm-2 .card-header,
.card.card-sm-3 .card-header,
.card.card-sm-4 .card-header,
.card.card-sm-5 .card-header {
	border-color: transparent;
	padding-bottom: 0;
}
.card.card-lg .card-header h4,
.card.card-sm .card-header h4,
.card.card-sm-2 .card-header h4,
.card.card-sm-3 .card-header h4,
.card.card-sm-4 .card-header h4,
.card.card-sm-5 .card-header h4 {
	line-height: 1.2;
}
.card.card-lg .card-body,
.card.card-sm .card-body,
.card.card-sm-2 .card-body,
.card.card-sm-3 .card-body,
.card.card-sm-4 .card-body,
.card.card-sm-5 .card-body {
	padding-top: 0;
}
.card.card-lg .card-header,
.card.card-lg .card-body,
.card.card-lg .card-footer {
	padding: 30px 40px;
}
.card.card-lg .card-header h4 {
	font-size: 22px;
	font-weight: 700;
}
.card.card-sm {
	display: inline-block;
	width: 100%;
}
.card.card-sm .card-header,
.card.card-sm .card-body {
	padding: 25px 0;
}
.card.card-sm .card-header {
	padding-top: 5px;
	padding-bottom: 30px;
	color: #868e96;
}
.card.card-sm .card-header h4 {
	font-size: 10px;
}
.card.card-sm .card-body {
	padding-bottom: 0;
	font-size: 24px;
	font-weight: 600;
	line-height: normal;
}
.card.card-sm .card-icon {
	float: left;
	display: inline-block;
	width: 55px;
	font-size: 20px;
	text-align: right;
	line-height: 84px;
	padding-right: 15px;
}
.card.card-sm .card-progressbar {
	padding: 0 25px 30px 0;
}
.card.card-sm .card-cta {
	margin-top: 20px;
	padding: 10px;
	text-align: center;
	border-top: 1px solid #f9f9f9;
}
.card.card-sm .card-cta a {
	font-size: 12px;
}
.card.card-sm .card-cta a i {
	margin-left: 5px;
}
.card.card-sm .card-wrap {
	margin-left: 55px;
}
.card.card-sm .card-options {
	float: right;
	margin-right: 20px;
	margin-top: 10px;
	font-size: 20px;
}
.card.card-sm .card-options > a {
	color: #ddd;
}
.card.card-sm:hover .card-options > a {
	color: #999;
}
.card.card-sm-2 .card-icon {
	position: absolute;
	right: 20px;
	top: 10px;
	font-size: 35px;
}
.card.card-sm-2 .card-header {
	padding-top: 20px;
	padding-bottom: 0;
}
.card.card-sm-2 .card-header h4 {
	font-size: 10px;
	color: #868e96;
}
.card.card-sm-2 .card-body,
.card.card-sm-3 .card-body,
.card.card-sm-4 .card-body,
.card.card-sm-5 .card-body {
	font-size: 26px;
	font-weight: 700;
	color: #000;
	padding-bottom: 0;
}
.card.card-sm-2 .card-progressbar {
	padding: 20px;
	border-radius: 30px;
}
.card.card-sm-2 .card-footer {
	color: #999;
	font-size: 12px;
	line-height: 22px;
}
.card.card-sm-3,
.card.card-sm-4 {
	display: inline-block;
	width: 100%;
}
.card.card-sm-3 .card-icon,
.card.card-sm-4 .card-icon {
	width: 80px;
	height: 80px;
	margin: 10px;
	border-radius: 3px;
	line-height: 80px;
	font-size: 28px;
	text-align: center;
	float: left;
	margin-right: 15px;
	color: #fff;
}
.card.card-sm-3 .card-header,
.card.card-sm-4 .card-header {
	padding-bottom: 0;
	padding-top: 25px;
}
.card.card-sm-3 .card-header h4,
.card.card-sm-4 .card-header h4 {
	font-size: 10px;
	letter-spacing: 1px;
	color: #868e96;
}
.card.card-sm-3 .card-body,
.card.card-sm-4 .card-body {
	font-size: 20px;
}
.card.card-sm-4 .card-icon {
	border-radius: 50%;
	width: 60px;
	height: 60px;
	margin: 20px;
	line-height: 60px;
}
.card.card-sm-4 .card-header {
	margin-top: 5px;
}
.card.card-sm-4 .card-header,
.card.card-sm-4 .card-body {
	text-align: right;
}
.card.card-sm-5 {
	/* text-align: center; */
}
.card.card-sm-5 .card-body {
	padding: 20px 20px 5px 20px;
}
.card.card-sm-5 .card-header {
	padding: 0 20px 20px 20px;
}
.card.card-sm-5 .card-header h4 {
	font-size: 10px;
	font-weight: 700;
	color: #868e96;
	letter-spacing: 1px;
}
.card.card-sm-5 .card-icon {
	position: absolute;
	top: 15px;
	right: 20px;
	font-size: 22px;
}
.card.card-sm-5 .card-chart {
	padding-top: 10px;
}
.card.bg-primary,
.card.bg-danger,
.card.bg-success,
.card.bg-info,
.card.bg-dark,
.card.bg-warning {
	color: #fff;
}
.card.bg-primary .card-header,
.card.bg-danger .card-header,
.card.bg-success .card-header,
.card.bg-info .card-header,
.card.bg-dark .card-header,
.card.bg-warning .card-header {
	color: #fff;
	opacity: .9;
}
/*end card*/

/*login*/
.login-brand {
	margin: 20px 0;
	margin-bottom: 40px;
	font-size: 24px;
	text-transform: uppercase;
	letter-spacing: 4px;
	color: #666;
	text-align: center;
}
/*end login*/